<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Date Range</title>
    <link rel="stylesheet" href="{{url_for('static', filename='repstyles.css')}}">
</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="nav-links">
            <a href="https://machinedpr.pythonanywhere.com/home/{{userType}}/{{username}}">Home</a>
            <a href="https://machinedpr.pythonanywhere.com/enter/{{userType}}/{{username}}">Enter Data</a>
            <a href="https://machinedpr.pythonanywhere.com/report/{{userType}}/{{username}}">Get Report</a>
        </div>
    </div>
    <div class="container">
        <h1>Select Date Range</h1>
        <form action="/submit_dates/{{userType}}/{{username}}" method="get">
            <label for="from-date">From Date:</label>
            <input type="date" id="from-date" name="from-date" required>
            <label for="to-date">To Date:</label>
            <input type="date" id="to-date" name="to-date" required>
            <label for="machine-name">Machine Name:</label>
            <input type="text" id="machine-name" name="machine-name" required>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>
