<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Data Homepage</title>
    <link rel="stylesheet" href="static/homestyle.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="nav-links">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('enter')}}">Enter Data</a>
            <a href="{{url_for('report')}}">Get Report</a>
        </div>
    </div>
    <div class="container">
        <h1>Welcome to Vehicle Data Management</h1>
        <a href="{{url_for('enter')}}" class="button">Enter Vehicle Data</a>
        <a href="{{url_for('report')}}" class="button">Get Report</a>
    </div>
</body>
</html>
