<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Data Homepage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">
</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="nav-links">
            <a href="https://machinedpr.pythonanywhere.com/home/{{userType}}/{{username}}">Homy</a>
            <a href="https://machinedpr.pythonanywhere.com/enter/{{userType}}/{{username}}">Enter Data</a>
            <a href="https://machinedpr.pythonanywhere.com/report/{{userType}}/{{username}}">Get Report</a>
        </div>
    </div>
    <div class="container">
        <h1>Welcome to Vehicle Data Management</h1>
        {% if username %}
        <h4> Mr. {{username}}</h4>
        {% endif %}
        <a href="https://machinedpr.pythonanywhere.com/enter/{{userType}}/{{username}}" class="button">Enter Vehicle Data</a>
        <a href="https://machinedpr.pythonanywhere.com/report/{{userType}}/{{username}}" class="button">Get Report</a>
    </div>
</body>
</html>
