<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Data Display</title>
    <link rel="stylesheet" href="static/userstyles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="nav-links">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('enter')}}">Enter Data</a>
            <a href="{{url_for('report')}}">Get Report</a>
        </div>
    </div>
    <br>
    <h1>Vehicle Data</h1>
    <div class="cont">
    <table border="1">
        <thead>
            <tr>
                <div class="imp">
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date(YYYY/MM/DD)</th>
                <th>Shift</th>
                </div>
                <th>Unit</th>
                <th>Starting Measuring Unit</th>
                <th>Ending Measuring Unit</th>
                <th>Chargeable to</th>
                <th>Location</th>
                <th>Nature</th>
                <th>No. of Trips</th>
                <th>Quantity</th>
                <th>Quantity Units</th>
                <th>Operator</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Fuel Type</th>
                <th>Fuel Quantity</th>
                <th>Breakdown Details</th>
                <th>BreakDown Start time</th>
                <th>BreakDown End Time</th>
                <th>Spear Parts Used</th>
                <th>Mechanic</th>
                <th>Total working time</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <div class="imp">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.date }}</td>
                <td>{{ user.shift }}</td>
                </div>
                <td>{{ user.unit }}</td>
                <td>{{ user.smu }}</td>
                <td>{{ user.emu }}</td>
                <td>{{ user.charge }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.nature }}</td>
                <td>{{ user.trips }}</td>
                <td>{{ user.quantity }}</td>
                <td>{{ user.quanunits }}</td>
                <td>{{ user.operator }}</td>
                <td>{{ user.start_time }}</td>
                <td>{{ user.end_time }}</td>
                <td>{{ user.fuel }}</td>
                <td>{{ user.fuel_quantity }}</td>
                <td>{{ user.BreakDown }}</td>
                <td>{{user.breakdown_start}}</td>
                <td>{{user.breakdown_end}}</td>
                <td>{{ user.SpearParts }}</td>
                <td>{{ user.mech }}</td>
                <td>{{user.working_hours}}</td>
                <td>{{ user.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
